/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family:sans-serif;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  background-attachment:fixed;
  margin:0px;
}

h1, h2, h3, h4, h5, h6 {
  color:#555;
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p {
  color:#555;
  margin: 1em 0;
}

a, a:visited, a:link {
  color:#0000AA;
  text-decoration:none;
 }

 a:hover   { color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  margin-top: 1.75em;
  background: #555;
  padding:10px;
}

ul.posts a {
  color:#55FF55;
}

ul.posts li p {
  color:#FFF;
  font-size:0.75em;
  padding: 0 1em 0 0;
}

ul.posts span {
  color:#FFFF55;
  font-size: 80%;
}

ul.posts h2 {
  color:#FFF;
}

.avatar {
  width:120px;
}

.header ul {
  text-align:center;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.header ul li {
  float:left;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.navbar:before, .navbar:after {
  display: table;
  content: " ";
  clear:both;
}

.navbar {
  position:relative;
  z-index:1000;
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #555;
  min-height:50px;
}

.container:before, .container:after {
  display: table;
  content: " ";
  clear:both;
}

.container {
  max-width:80%;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}

.navbar-header:before, .navbar-header:after {
  display: table;
  content: " ";
  clear:both;
}

.container > .navbar-header {
  margin-right:0px;
  margin-left:0px;
}

.navbar-header {
  float:left;
}

.nav-brand {
  font-size: 24px;
  padding: 30px 0px;
  margin: 0px !important;
  color: #FFF !important;
  float:left;
  line-height:20px;
}

.bar {
  background:#00AAAA;
  min-height:50px;
}

ul.menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 30px 0px;
}

ul.menu li {
  display:inline-block;
}

ul.submenu li {
  margin-left:35px;
  display:block;
}

.powered {
  color:#0000AA;
}

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 80%;
  margin: 1.25em auto;
  padding: 1em;
  line-height: 1.5em;
  background:#AAA;
}


.site .meta {
  color: #000;
}

.site .footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  color: #000;
  float: left;
}

.site .footer .links p a {
  color: #000;
}

.icons {
  height: 52px;
  width: 52px;
}

.site .footer .links {
  float: right;
  text-align:right;
}

.site .footer .contact a {
  color: #000;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.site .excerpt a.continue,a.continue:visited {
  color: #000;
  text-decoration:none;
  text-align:right;
  display:block;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post li {
  //margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.logos {
  text-align:center;
}

.manheim {
  padding: 5px 0 0 0;
  text-align:center;
  margin:auto auto 1.5em auto;
}

.manheim img {
  background:#555;
  width:25%;
  height:25%;
}


//Cursor
#typed-cursor {
  color: #000;
  font-weight: 100;
  width:15px;
}

#typed-cursor.blinking {
  width:15px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,to {
    color: transparent;
    background: transparent;
  }
  50% {
    background:#00A;
    color:#00A;
  }

}

@-moz-keyframes blink {
  from,to {
    color: transparent;
    background: transparent;
  }
  50% {
    background:#00A;
    color:#00A;
  }
}

@-webkit-keyframes "blink" {
  from,to {
    color: transparent;
    background: transparent;
  }
  50% {
    background:#00A;
    color:#00A;
  }
}

@-ms-keyframes "blink" {
  from,to {
    color: transparent;
    background: transparent;
  }
  50% {
    background:#00A;
    color:#00A;
  }
}

@-o-keyframes "blink" {
  from,to {
    color: transparent;
    background: transparent;
  }
  50% {
    background:#00A;
    color:#00A;
  }
}
