{% include header.html %}

{{ content }}

<div class="footer">
  <div class="contact">
    <p>
    Reppard Walker<br />
    Senior Operations Engineer<br />
    Amature Code-Monkey<br />
    reppardwalker@gmail.com
    </p>
  </div>
  <div class="links">
    <p>
      <a href="https://github.com/reppard">github.com/reppard</a><br />
      <a href="https://twitter.com/iamreppard">twitter.com/iamreppard</a><br />
    </p>
    <img class="avatar" src="/images/avatar.jpg"/>
  </div>
</div>
<div class="logos">
  <p>
    <a href="http://httpd.apache.org/"><img src="/icons/apache_pb2.gif" alt="[ Powered by Apache ]"/></a>
    <a href="http://fedoraproject.org/"><img src="/icons/poweredby.png" alt="[ Powered by Fedora ]" width="88" height="31" /></a>
  </p>
</div>

{% include footer.html %}
