{% include header.html %}

{{ content }}

<div class="footer">
  <div class="contact">
    <p>
    Reppard Walker<br />
    Software Developer/Release Engineer<br />
    reppardwalker@gmail.com
    </p>
  </div>
  <div class="links">
    <p>
      <a href="https://www.linkedin.com/pub/reppard-walker/50/91/576"><img class="icons" src="/images/linkedin.png" alt="linkedin"/></a>
      <a href="https://github.com/reppard"><img class="icons" src="/images/github.png" alt="GitHub"/></a>
      <a href="https://twitter.com/iamreppard"><img class="icons" src="/images/twitter.gif" alt="Twitter"/></a>
    </p>
    <img class="avatar" src="/images/avatar.jpg"/>
  </div>
</div>

{% include footer.html %}
